In [17]:
import pandas as pd
df1 = pd.DataFrame({"key": list("bbaca"), "Datal" : range(5)})
df1

  key  Datal
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4

In [18]:
df2 = pd.DataFrame({ "key2" :["a","b","d"], "data2" : range(3)})
df2

  key2  data2
0    a      0
1    b      1
2    d      2

In [19]:
pd.merge(df1,df2)   #預設是inner #inner 是交集的概念，應該啦

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [21]:
pd.merge(df1,df2, left_on = "key", right_on= "key2")

  key  Datal key2  data2
0   b      0    b      1
1   b      1    b      1
2   a      2    a      0
3   a      4    a      0

In [23]:
pd.merge(df1,df2, left_on = "key", right_on = "key2" , how = "inner")

  key  Datal key2  data2
0   b      0    b      1
1   b      1    b      1
2   a      2    a      0
3   a      4    a      0

In [25]:
pd.merge(df1,df2, left_on = "key", right_on = "key2" , how = "outer")

   key  Datal key2  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    a    2.0    a    0.0
3    a    4.0    a    0.0
4    c    3.0  NaN    NaN
5  NaN    NaN    d    2.0